
.sig-container {
  width:100%; 
  margin-top: 30px;
}

img {
  width: 75% !important;
}

.col.img {
  width: 100% !important;
}
.sig-container-inner {
  width:45%;
  border-top-color: black;
  border-top-width: 3px;
  border-top-style: solid;
  padding-top: 5px;
}
.sig-container-inner.right {
  float:right;
}

.sig-container-inner.left {
  float:left;
}

hr.sigline {
	width:300px !important;
	background-color: black !important;
	height: 2px !important;
	margin-bottom: 4px !important;
}


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}