img {
	width: 75% !important;
}

p, ul li{
  font-size: 14px !important;
}

.sig-container {
  width:100%; 
  margin-top: 30px;
}

.sig-container-inner {
  width:45%;
  border-top-color: black;
  border-top-width: 3px;
  border-top-style: solid;
  padding-top: 5px;
}
.sig-container-inner.right {
  float:right;
}

.sig-container-inner.left {
  float:left;
}

hr.sigline {
	width:300px !important;
	background-color: black !important;
	height: 2px !important;
	margin-bottom: 4px !important;
}